* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  max-width: 1280px;
  margin: 0 auto;
}

.homePage {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.dataPage {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.quizPage {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  border-bottom: 1px solid rgba(128, 128, 128, 0.294);
}

.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: bisque;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0.75rem;
}

.links {
  padding: 1rem;
  background-color: cadetblue;
  border-radius: 25px;
  color: white;
  text-decoration: none;
}
.links:hover {
  background-color: rgb(240, 248, 255);
  color: cadetblue;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(46, 204, 113, 0.3);
}

.table-container {
  border: 1px solid #dedede;
  border-radius: 2px;
  overflow-x: auto;
}

.terror-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 11px;
}

.terror-table th {
  background: #f5f5f5;
  color: #2f2f2f;
  text-align: left;
  white-space: nowrap;
  padding: 8px;
  border-bottom: 1px solid #dcdcdc;
}

.terror-table td {
  padding: 8px;
  border-bottom: 1px solid #ececec;
}

.terror-table .even-row {
  background: antiquewhite;
}

.terror-table .odd-row {
  background: #f7fbff;
}

.terror-table .even-row:hover,
.terror-table .odd-row:hover {
  background: #eef5fc;
  
}
.filter {
  gap: 0.75rem;
  display: flex;
  margin: 2rem;
}
.question-card {
  display: flex;
  background-color: rgba(252, 214, 170, 0.562);
  border-radius: 25px;
  margin-top: 2rem;
  padding: 2rem;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.action-area{
  display: flex;
  gap: 2rem;
}
.btn {
  padding: 0.75rem;
  font-size: large;
  background-color: blanchedalmond;
  border-radius: 50px;
}
.btn:hover {
  background-color: rgba(255, 235, 205, 0.164);
      transform: translateY(2px);
    box-shadow: 0 2px 15px rgb(255, 202, 122);

}
.input {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: large;
}
#answer {
  font-size: large;
  height: 3rem;
  width: 75vw;
  padding: 1rem;
}
#answer:hover {
  border: solid cyan 0.5px;
  
}
